<template name="details">


      <!--<h1>Port Cockpit</h1>-->
      <h2 class="ui header">
        <i class="anchor icon"></i>
        <div class="content">
          Port Cockpit
        </div>
      </h2>

      <hr>

      <div class="ui icon input" style="padding-bottom: 10px;width: 100%;">
        <i class="search icon"></i>
        <input type="text" id="shipname" placeholder="Search...">
      </div>

      <div class="ui special cards">
      {{#each allShips}}
        <div class="card" style="width: 100%">
          <div class="blurring dimmable image">
            <div class="ui dimmer">
              <div class="content">
                <div class="center">
                  <div class="ui inverted button">Highlight on map</div>
                </div>
              </div>
            </div>
            <img src="{{details.image.src}}">
          </div>
          <div class="content">
            <a id="gothere" class="header">{{details.shipname}}</a>
            <div class="meta">
              <span class="date">{{mmsi}}</span>
            </div>
          </div>
        </div>
      {{/each}}
      </div>

              <!--div class="description">
                <p> speed: {{travel.speed}}</p>
                <p> course: {{travel.course}}</p>
                <p> heading: {{travel.heading}}</p>
              </div-->

</template>
